<header>
  <div class="logo">
    <img src="assets/logo.png" alt="Logo UTN-GAMES" class="logo-image">
    <h1>UTN-GAMES</h1>
  </div>
  <nav>
    <ul>
      <li>
        <button routerLink="/home" routerLinkActive="active-route">Inicio</button>
      </li>
      <li>
        <button routerLink="/about" routerLinkActive="active-route">Quien soy?</button>
      </li>
      <li>
        <button routerLink="/login" routerLinkActive="active-route">Ingresar</button>
      </li>
    </ul>
  </nav>
</header>




