.container {
    padding: 20px;
  }
  
  .game-card {
    background-color: #1f2937; /* Color de fondo de las cards */
    color: #f9fafb; /* Color del texto */
    border: none; /* Sin borde */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de las cards */
  }
  
  .game-card img {
    border-radius: 10px 10px 0 0; /* Bordes redondeados en la parte superior de la imagen */
  }
  
  .game-btn {
    background-color: #3b82f6; /* Color del botón */
    color: #f9fafb; /* Color del texto del botón */
  }
  
  .game-btn:hover {
    background-color: #1e40af; /* Color del botón al pasar el mouse */
  }
  