<div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card text-center game-card">
          <img src="assets/ahorcado.png" class="card-img-top" alt="Juego 1">
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card text-center game-card">
          <img src="assets/juego2.jpg" class="card-img-top" alt="Juego 2">
          <div class="card-body">
            <h5 class="card-title">Juego 2</h5>
            <p class="card-text">Descripción breve del juego 2.</p>
            <a href="#" class="btn game-btn">Jugar</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card text-center game-card">
          <img src="assets/juego3.jpg" class="card-img-top" alt="Juego 3">
          <div class="card-body">
            <h5 class="card-title">Juego 3</h5>
            <p class="card-text">Descripción breve del juego 3.</p>
            <a href="#" class="btn game-btn">Jugar</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card text-center game-card">
          <img src="assets/juego4.jpg" class="card-img-top" alt="Juego 4">
          <div class="card-body">
            <h5 class="card-title">Juego 4</h5>
            <p class="card-text">Descripción breve del juego 4.</p>
            <a href="#" class="btn game-btn">Jugar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  