<div class="about-me-container">
    <div class="profile-photo">
      <img src="../../../assets/profile-photo.jpg">
    </div>
    <div class="profile-info">
      <h1>Julian San Sebatian</h1>
      <p>
        Legajo: 112453 <br>
        Estudiante de programacion. Ya en los ultimos cuatrimestres de la cursada. <br>
        Lenguajes vistos: C++, C#, PHP, JavaScript, HTML, CSS.
                       
      </p>
      <p>
        Info del juego propio: (aun no lo pense)
      </p>
    </div>
  </div>
  