
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    background-color: #2d3748; 
    font-family: Arial, sans-serif; 
    margin-bottom: 80px;
  }
  

  html, body {
    height: 100%;
    width: 100%;
  }
  